body
  .guide-nav-bar
    background: linear-gradient(90deg, $primary, $secondary)

.mapset-brand-img
  position: absolute
  top: 0
  z-index: 999
  height: 3rem
  padding-left: 1rem
  padding-top: 1rem

.guideHeader
  color: $primary
  padding: 2rem 0

.guideSection
  .guideFeature
    border-bottom: 1px solid $greyMid
    padding: 1rem 0

    &:last-child
      border-bottom: none

  .guideContent
    padding-left: 2rem

    a
      color: $primary

    .restrictedFeature
      display: flex
      align-items: center

      svg
        margin-right: 0.5rem

  .guideH4, .guideH3
    display: flex
    align-items: center
    margin-bottom: 1rem
    line-height: 2.2

    div
      display: flex
      align-items: center

    svg
      height: 34px
      width: 34px
      margin-right: 0.5rem

    p
      margin-bottom: 0
