p {
  padding-bottom: 20px;
}
main ul {
  margin-left: 32px;
  padding-bottom: 20px;
}

main li {
  list-style-type: disc;

}

main h4 p {
  padding-bottom: 0;
}

main h4 svg {
  margin-top: -2px;
}

.guide-content a {
  color: theme(colors.blue.600);
  text-decoration-line: underline;
  cursor: pointer;
}

.guide-content a:hover {
  color: theme(colors.blue.900);
}
