p {
  padding-bottom: 20px;
}
main ul {
  margin-left: 32px;
  padding-bottom: 20px;
}

main li {
  list-style-type: disc;

}

main h4 p {
  padding-bottom: 0;
}

main h4 svg {
  margin-top: -2px;
}

.guide-content a {
  color: rgb(23 137 201);
  text-decoration-line: underline;
}

.guide-content a:hover {
  color: rgb(21 70 101);
}